.feedback {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.good {
  background-color: rgb(109, 252, 109);
}

.neutral {
  background-color: rgb(245, 245, 82);
}

.bad {
  background-color: rgb(253, 88, 88);
}

.total {
  border-top: 2px solid black;
}
